<%- include('partials/header') %>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <header>
    <h1>Welcome to Airbnb</h1>
  </header>
  <main>
    <a class="add-home-button" href="/host/addHome">Add Your Home</a>
    <h2>Here are Your Registered Homes </h2>
    <ul class="home-list">
      <% registeredHomes.forEach(home => { %>
        <li>
          <div class="home-details">
            <h3 class="home-name"><%= home.houseName %></h3>
            <img src="<%= home.photoUrl %>" alt="<%= home.houseName %>">
            <p class="home-location"><%= home.location %></p>
            <p class="home-price">Price: <%= home.price %> per night</p>
            <p class="home-bedrooms">Bedrooms: <%= home.bedrooms %></p>
            <button class="booking">Book</button>
          </div>
        </li>
      <% }); %>
    </ul>
  </main>
</body>
</html>
