<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('../partials/navbar') %>
  <main>
    <a class="add-home-button" href="/host/addHome">Add Your Home</a>
    <h2>Here are Your Registered Homes by you the host</h2>
    <ul class="home-list">
      <% registeredHomes.forEach(home => { %>
        <li>
          <div class="home-details">
            <h3 class="home-name"><%= home.houseName %></h3>
            <img src="<%= home.photoUrl %>" alt="<%= home.houseName %>">
            <p class="home-location"><%= home.location %></p>
            <p class="home-price">Price: <%= home.price %> per night</p>
            <p class="home-bedrooms">Bedrooms: <%= home.no_of_bedRooms %></p>
            <a href="/host/editHome/<%= home.id %>?editing=true"><button class="booking" style="background-color:blue;" >Edit</button></a>
            <form action="/host/deleteHome/<%=home.id%>" method="POST">
              <button class="booking" type="submit" style="background-color:red;">Delete</button>
            </form>
          </div>
        </li>
      <% }); %>
    </ul>
  </main>
</body>
</html>
